body {
  background-image:url('file://fspaka02/userdata7c$/al15266/Documents/VueJS/secret_project/resources/images/brussel.gif');
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  background-attachment: fixed;
  height:99%;
  width:99%;
}

.neon {
  text-align: center;
  width: 400px;
  padding: 10px;
  color: pink;
  font: 80px 'Poiret One', cursive;
  box-shadow: inset 0px 0px 10px #ffbbbb, 0px 0px 10px #e60023;
  text-shadow: 0px 0px 10px #e60023, 2px 2px 4px #212121;
  border: 2px solid pink;
  border-radius: 15px;
  height: 80px;
  margin: 0 auto;
  text-align: center;
  animation: fadeIn ease 3s;
}

.neon2 {
  text-align: center;
  padding: 10px;
  color: green;
  font: 30px 'Poiret One', cursive;
  text-shadow: 0px 0px 10px #e60023, 2px 2px 4px #212121;
  height: 80px;
  margin: 0 auto;
  text-align: center;
  animation: fadeIn2 ease 3s;
}

.neon3 {
  text-align: center;
  padding: 10px;
  color: blue;
  font: 30px 'Poiret One', cursive;
  text-shadow: 0px 0px 10px #e60023, 2px 2px 4px #212121;
  height: 80px;
  margin: 0 auto;
  text-align: center;
  animation: fadeIn3 ease 8s;
}

.neon4 {
  text-align: center;
  padding: 10px;
  color: red;
  font: 25px 'Poiret One', cursive;
  text-shadow: 0px 0px 10px #e60023, 2px 2px 4px #212121;
  height: 80px;
  margin: 0 auto;
  text-align: center;
  animation: fadeIn4 ease 12s;
}

.neon5 {
  text-align: center;
  padding: 10px;
  color: white;
  font: 25px 'Poiret One', cursive;
  text-shadow: 0px 0px 10px #e60023, 2px 2px 4px #212121;
  height: 80px;
  margin: 0 auto;
  text-align: center;
  animation: fadeIn5 ease 18s;
}

.neon6 {
  text-align: center;
  padding: 10px;
  color: pink;
  font: 20px 'Poiret One', cursive;
  text-shadow: 0px 0px 10px #e60023, 2px 2px 4px #212121;
  height: 80px;
  margin: 0 auto;
  text-align: center;
  animation: fadeIn6 ease 20s;
}

@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}

@keyframes fadeIn2 {
  0% { opacity:0; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@keyframes fadeIn3 {
  0% { opacity:0; }
  75% { opacity:0; }
  100% { opacity:1; }
}

@keyframes fadeIn4 {
  0% { opacity:0; }
  82% { opacity:0; }
  100% { opacity:1; }
}

@keyframes fadeIn5 {
  0% { opacity:0; }
  87% { opacity:0; }
  100% { opacity:1; }
}

@keyframes fadeIn6 {
  0% { opacity:0; }
  87% { opacity:0; }
  100% { opacity:1; }
}